@use 'abstracts' as *;
@use 'components' as *;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $text;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: $background;
}
header, main{
    max-width: 1400px;
    margin: auto;
}
a{
    color: $text;
}
li{
    list-style: none;
}