body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

form {
    display: grid;
    gap: 20px;
}

.input {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.book_list {
    display: grid;
    gap: 10px;
}

.book_item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.green {
    background-color: #4caf50;
    color: white;
}

.red {
    background-color: #f44336;
    color: white;
}
